<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Crediti.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BackOffice.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Crediti.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Crediti.Properties.Settings>
            <setting name="PrimoAvvio" serializeAs="String">
                <value>True</value>
            </setting>
        </Crediti.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <BackOffice.Properties.Settings>
            <setting name="UpdatePath" serializeAs="String">
                <value>https://github.com/Fil0611/Crediti/releases/latest/download/bo</value>
            </setting>
        </BackOffice.Properties.Settings>
        <Crediti.Properties.Settings>
            <setting name="CompanyName" serializeAs="String">
                <value>FilBatta</value>
            </setting>
            <setting name="AppName" serializeAs="String">
                <value>Crediti</value>
            </setting>
            <setting name="DBFileName" serializeAs="String">
                <value>database.db</value>
            </setting>
            <setting name="UpdatePath" serializeAs="String">
                <value>https://github.com/Fil0611/Crediti/releases/latest/download</value>
            </setting>
            <setting name="AziendaLogoFileName" serializeAs="String">
                <value>logo.png</value>
            </setting>
            <setting name="SettingsFileName" serializeAs="String">
                <value>settings.json</value>
            </setting>
            <setting name="APIOrdini" serializeAs="String">
                <value>http://152.89.254.108:8000</value>
            </setting>
        </Crediti.Properties.Settings>
    </applicationSettings>
</configuration>